@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap'); 
/* font-family: 'Permanent Marker', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
/* font-family: 'Indie Flower', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
/* font-family: 'Space Grotesk', sans-serif; */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;  
}

body{
    font-size: 100%;
    width: 100%;
    height: 100vh;
    color: rgb(0, 0, 0);
    background:url(background.jpg);
    background-size: 100% 150%;
    position: relative;   
}

    .h{
    background: linear-gradient(-100deg, #2d2d2e62, #686770, #e0e0e662, #550000);
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content:left;
     border-bottom: inset 5px rgb(34, 34, 41);
     border-radius: 10px;
     
    }
        #logo{
        height: 200px;
        margin-left:147px;
        }
        .menu{
        display: flex;
        gap: 40px;
        font-size: 22px;
        margin-left: 100px;
        font-weight: 100;
        font-family: 'Permanent Marker', cursive;
        color: rgb(34, 34, 41);  
            }
.menu a {
    display: block;
    text-decoration: none;
    padding: 0.5rem;
     position: relative;
        }
.menu a::after {
    content: "";
    position: absolute;
    bottom: 0.1rem;
    left: 50%;
    width: 0;
    height: 0.3rem;
    background: rgb(34, 34, 41); 
    transition: all 270ms ease-in-out;
                }
.menu a:hover::after {
    left: 10%;
    width: 80%;
                }

            #ini{
                border-style: outset none none outset;
                border-radius: 10px;
                border-width: 5px;
                border-color: rgb(34, 34, 41); 
                cursor: pointer;
                color: black;
            }
            #gen{
                border-style: outset none none none;
                border-radius: 10px;
                border-width: 5px;
                border-color: rgb(34, 34, 41); 
                cursor: pointer;
                color: black;
            }
            #band{
                border-style: outset none none none;
                border-radius: 10px;
                border-width: 5px;
                border-color: rgb(34, 34, 41); 
                cursor: pointer;
                color: black;
            }
            #contact{
                border-style: outset inset none none;
                border-radius: 10px;
                border-width: 5px;
                border-color: rgb(34, 34, 41); 
                cursor: pointer;
                color: black;
            }
           #player{
            margin-left: 20px;
           }
           #hphone{
            height: 70px;
            margin-left: 200px;
           }
           

    .m{
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     justify-content: space-around;
     padding: 50px;
    }

    .border{
        background: linear-gradient(-100deg, #2d2d2e62, #686770, rgb(177, 175, 175), #550000);
        border-style: double;
        width: 500px;
        border-width: 2px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items:center;
        gap:10px;
    }
        #titleone{
            font-size: 40px;
            font-family: 'Indie Flower', cursive;
            text-align: center;
            color: rgb(0, 0, 0);
        }
        #subtitle{
            font-family: 'Indie Flower', cursive;
            font-size: 30px;
            color: rgb(0, 0, 0);
        }

        .form{
            display: flex;
            flex-direction: column;
            gap: 20px;   
        }
        .quadros{
        width: 300px;
        height: 40px;
        
        }

    #button{
        height: 80px;
        width: 300px;
        background-color:rgb(34, 34, 41);
        border: none;
        border-radius: 30px;
        font-family: 'Permanent Marker', cursive;
        font-size: 30px;
        color: white;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        box-shadow: inset 0 0 1em rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0);         
        }
        #button:hover{
            background-color:#550000;
        }

        .titlesite{
            color: #470303;
        }
        .paragrafo{
            font-size: 1em;
        }

      .conteudo2{
          border-style: double;
          border: none;
          background: linear-gradient(-100deg, #2d2d2e62, #686660, rgb(177, 175, 175), #550000);
          border-style: double;
          border-width: 2px;
          border-radius: 100px;
          width: 700px;
          height: 320px;
          font-family: 'Indie Flower', cursive;
          font-size: 30px;
          font-weight: bold;
          flex-direction: column;
          align-items:center;
          text-align: center;
          color: rgb(0, 0, 0);
          
      }
      #image2{
          height: 400px;

      }

         .rodape{
   
     text-align: center;
     padding-top: 120px;
         }
      